{% load static %}
{% load static i18n compress%}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-white"
    id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
            aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="/" target="_blank">
            <img src="{% static 'images/kawn_logo.svg' %}" alt=""><br>
            <span class="font-weight-bold text-lg text-info">Subscriptions Manager</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="sidenav  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            {% with link=request.resolver_match.view_name %}
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase font-weight-bolder">Main</h6>
            </li>
            {% comment %}
            <li class="nav-item">
                <a class="nav-link {% if link == 'home' %}active{% endif %}" href="/">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-house"></i>
                    </div>
                    <span class="nav-link-text ms-1">Dashboard</span>
                </a>
            </li>
            {% endcomment %}
            <li class="nav-item">
                <a class="nav-link {% if link == 'clients:list_client' or link == 'clients:add_client' or link == 'clients:update_client' or link == 'clients:list_outlet_client' or link == 'clients:add_outlet_client' or link == 'clients:update_outlet_client'  %}active{% endif %}"
                    href="{% url 'clients:list_client'  %}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-people-arrows"></i>
                    </div>
                    <span class="nav-link-text ms-1">Clients</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if link == 'clients:list_outlet' or link == 'clients:add_outlet' or link == 'clients:update_outlet' %}active{% endif %}"
                    href="{% url 'clients:list_outlet' %}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-store"></i>
                    </div>
                    <span class="nav-link-text ms-1">Outlets</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if link == 'subscriptions:list_subscription' or link == 'subscriptions:activate_subscription' %}active{% endif %}"
                    href="{% url 'subscriptions:list_subscription'  %}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-table-list"></i>
                    </div>
                    <span class="nav-link-text ms-1">Subscriptions</span>
                </a>
            </li>
            {% if request.user.type == "ADMIN" or request.user.type == "SUPERVISOR" %}
            <li class="nav-item">
                <a class="nav-link  {% if link == 'subscriptions:list_approval' or link == 'subscriptions:detail_approval' %}active{% endif %}"
                    href="{% url 'subscriptions:list_approval'%}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-clipboard-check"></i>
                    </div>
                    <span class="nav-link-popeo ms-1">Approval Subscriptions</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase font-weight-bolder">Settings</h6>
            </li>

            {% comment %}
            {% if request.user.type == "ADMIN" or request.user.type == "SUPERVISOR" %}
            <li class="nav-item">
                <a class="nav-link  {% if link == 'subscriptions:subscription_logs' %}active{% endif %}"
                    href="{% url 'subscriptions:subscription_logs'%}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-box-archive"></i>
                    </div>
                    <span class="nav-link-popeo ms-1">Subscription Logs</span>
                </a>
            </li>
            {% endif %}
            {% endcomment %}

            <li class="nav-item">
                <a class="nav-link  {% if link == 'subscriptions:list_subscription_plan' or link == 'subscriptions:add_subscription_plan' or link == 'subscriptions:update_subscription_plan' %}active{% endif %}"
                    href="{% url 'subscriptions:list_subscription_plan'  %}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-diagram-next"></i>
                    </div>
                    <span class="nav-link-text ms-1">Subscription Plans</span>
                </a>
            </li>
            {% if request.user.type == "ADMIN" %}
            <li class="nav-item">
                <a class="nav-link  {% if link == 'users:user_list' or link == 'users:add_users' or link == 'users:edit_users' %}active{% endif %}"
                    href="{% url 'users:user_list'%}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-people-group"></i>
                    </div>
                    <span class="nav-link-popeo ms-1">Users</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link  {% if link == 'users:profile_users' or link == 'users:detail' or link == 'users:update' or link == 'account_email' or link == 'account_change_password' %}active{% endif %}"
                    href="{% url 'users:profile_users'  %}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-user-gear"></i>
                    </div>
                    <span class="nav-link-text ms-1">My Profile</span>
                </a>
            </li>
            {% if request.user.type == "ADMIN" or request.user.type == "SUPERVISOR" %}
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase font-weight-bolder">LOG</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link  {% if link == 'subscriptions:activity_logs_created' or link == 'subscriptions:activity_logs_modified' %}active{% endif %}"
                    href="{% url 'subscriptions:activity_logs_created' %}">
                    <div
                        class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-box-archive"></i>
                    </div>
                    <span class="nav-link-popeo ms-1">Activity Logs</span>
                </a>
            </li>
            {% endif %}
            {% endwith %}
            
        </ul>
    </div>
</aside>