{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block menu-title %}Add Outlet{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'clients:list_client' %}">Client</a></li>
        <li class="breadcrumb-item"><a type="button" onclick="javascript:history.back()">Outlet-Client</a></li>
        <li class="breadcrumb-item"><a role="link" aria-disabled="true">Add Outlet-Client</a></li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-column h-100">
                            <h5 class="font-weight-bolder">Form Outlet</h5>
                            <form method="post" id="outletForm" data-cities-url="{% url 'clients:ajax_load_cities' %}"
                                novalidate>
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                                {{ form|crispy }}
                                <button type="submit" class="btn bg-info col-md-2 mt-4 mb-0 text-white">SAVE</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $("#id_province").change(function () {
        var url = $("#outletForm").attr("data-cities-url");
        var provinceId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'province': provinceId
            },
            success: function (data) {
                $("#id_city").html(data);
            }
        });

    });
</script>
{% endblock inline_javascript %}