{% extends "base.html" %}

{% block menu-title %}List Outlet Client{% endblock %}

{% load bootstrap_pagination %}
{% load crispy_forms_tags %}


{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a role="link" aria-disabled="true">Client</a></li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 col-md-12">
                <div class="row">
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show {{ message.tags }}" role="alert">
                        <strong class="text-white">{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    {% endfor %}
                    <div class="col-lg-12 mb-4 mt-2">
                        <div class="align-middle">
                            <h5 class="font-weight-bolder">Clients</h5>
                            <a href="{% url 'clients:add_client' %}" class="btn bg-gradient-info mt-2">Add Client</a>
                            <button type="button" class="btn bg-gradient-dark align-middle col-md-2 mt-2" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Advanced Search
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Advanced Search</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-lg-12">
                                                <form method="get">
                                                    <div class="row">
                                                        <div>
                                                            {{ myFilter.form.name|as_crispy_field }}
                                                        </div>
                                                        <div>
                                                            {{ myFilter.form.address|as_crispy_field }}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn bg-secondary">
                                                                <a href="{% url 'clients:list_client' %}" class="text-white">
                                                                    Clear Filter
                                                                </a>
                                                            </button>
                                                            <button class="btn bg-gradient-info" type="submit">Filter</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive p-0">
                    <table class="table table-sm" id="table1">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-xxs text-dark font-weight-bolder" style="width: 14.5%;">Client Name</th>
                                <th class="text-uppercase text-xxs text-dark font-weight-bolder" style="width: 20%;">Address</th>
                                <th class="text-uppercase text-xxs text-dark font-weight-bolder text-end" style="width: 9.5%;">Phone</th>
                                <th class="text-uppercase text-xxs text-dark font-weight-bolder" style="width: 9%;">Brand Name</th>
                                <th class="text-uppercase text-xxs text-dark font-weight-bolder" style="width: 9%;">Facebook</th>
                                <th class="text-uppercase text-xxs text-dark font-weight-bolder" style="width: 9%;">Twitter</th>
                                <th class="text-uppercase text-xxs text-dark font-weight-bolder" style="width: 9%;">Instagram</th>
                                <th class="text-center text-uppercase text-xxs font-weight-bolder" style="width: 20%;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in object_list %}
                            <tr>
                                <td class="px-4">
                                    <p class="text-xs font-weight-bold mb-0 text-start">{{ data.name }}</p>
                                </td>
                                <td class="px-4">
                                    <p class="text-xs font-weight-bold mb-0">{{ data.address }}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0 text-end">{{ data.phone }}</p>
                                </td>
                                <td class="px-4">
                                    <p class="text-xs font-weight-bold mb-0 text-start">{{ data.brand_name|default_if_none:"-" }}</p>
                                </td>
                                <td class="px-4">
                                    <p class="text-xs font-weight-bold mb-0 text-start">{{ data.social_facebook|default_if_none:"-" }}</p>
                                </td>
                                <td class="px-4">
                                    <p class="text-xs font-weight-bold mb-0 text-start">{{ data.social_twitter|default_if_none:"-" }}</p>
                                </td>
                                <td class="px-4">
                                    <p class="text-xs font-weight-bold mb-0 text-start">{{ data.social_instagram|default_if_none:"-" }}</p>
                                </td>
                                <td>
                                    <a href="{% url 'clients:list_outlet_client' data.id %}"
                                        class="btn btn-sm bg-info text-white text-xs">Outlet</a>
                                    <a href="{% url 'clients:update_client' data.id %}"
                                        class="btn btn-sm bg-warning text-white text-xs">Edit</a>
                                    <form class="d-inline" id="form-id"
                                        action="{% url 'clients:delete_client' data.id %}" method="post">
                                        {% csrf_token %}
                                        </a>
                                        <button type="submit" class="btn btn-sm bg-danger btn-flat show_confirm text-white"
                                            data-toggle="tooltip" title='Delete'>Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr class="text-center">
                                <td colspan="9" class="align-middle text-center text-sm">
                                    <p class="text-xs font-weight-bold mb-0">No Item in List</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script type="text/javascript">
    $('.show_confirm').click(function (event) {
        var form = $(this).closest("form");
        var name = $(this).data("name");
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        })
            .then((willDelete) => {
                if (willDelete.isConfirmed) {
                    form.submit();
                }
            });
    });
</script>
{% endblock inline_javascript %}