{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block menu-title %}Add Outlet{% endblock %}
{% block listsubscriptionplan-active %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-column h-100">
                            <h5 class="font-weight-bolder">Form Outlet</h5>
                            <form method="post" novalidate>
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                                {{ form|crispy }}
                                <button type="submit" class="btn bg-gradient-info col-md-2 mt-4 mb-0">SAVE</button>
                                <a href="{% url 'clients:list_outlet'  %}" class="btn bg-gradient-danger col-md-2 mt-4 mb-0">CANCEL</a> 
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block inline_javascript %}
<script></script>
{% endblock inline_javascript %}