{% extends "base.html" %}

{% block menu-title %}List Outlet Client{% endblock %}

{% load static %}
{% load static i18n compress%}
{% load django_tables2 %}
{% load bootstrap_pagination %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a role="link" aria-disabled="true">Outlet</a></li>
  </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0 col-md-12">
        <div class="row">
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show {{ message.tags }}" role="alert">
            <strong class="text-white">{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          {% endfor %}
          <div class="align-middle">
            <h5 class="font-weight-bolder">Outlets</h5>
            <a href="{% url 'clients:add_outlet' %}" class="btn bg-gradient-info mt-2">Add Outlet</a>
          </div>
          <div class="col-lg-12 mb-4 mt-2">
            <form method="get">
              <div class="row">
                <div class="col-md-2">
                  {{ myFilter.form.city_read|as_crispy_field }}
                </div>
                <div class="col-md-2">
                  {{ myFilter.form.province_read|as_crispy_field }}
                </div>
                <div class="col-md-4 mt-4">
                  <button class="btn bg-gradient-info mt-2 mb-0" type="submit">Filter</button>
                  <button class="btn bg-gradient-info mt-2 mb-0">
                    <a href="{% url 'clients:list_outlet' %}" class="text-white">
                      Clear Filter
                    </a>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table table-sm sortable align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-xxs text-dark font-weight-bolder">Outlet Name</th>
                <th class="text-uppercase text-xxs text-dark font-weight-bolder">Client Name</th>
                <th class="text-uppercase text-xxs text-dark font-weight-bolder text-end">Phone</th>
                <th class="text-uppercase text-xxs text-dark font-weight-bolder">Address</th>
                <th class="text-uppercase text-xxs text-dark font-weight-bolder">City</th>
                <th class="text-uppercase text-xxs text-dark font-weight-bolder">Province</th>
                <th class="text-center text-uppercase text-xxs text-dark font-weight-bolder">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in object_list %}
              <tr>
                <td data-sort="{{ data.name }}" class="px-4">
                  <p class="text-xs font-weight-bold mb-0 text-start">{{ data.name }}</p>
                </td>
                <td data-sort="{{ data.client.name }}" class="px-4">
                  <p class="text-xs font-weight-bold mb-0 text-start">{{ data.client.name }}</p>
                </td>
                <td data-sort="{{ data.phone }}">
                  <p class="text-xs font-weight-bold mb-0 text-end">{{ data.phone }}</p>
                </td>
                <td data-sort="{{ data.address }}" class="px-4">
                  <p class="text-xs font-weight-bold mb-0 text-start">{{ data.address }}</p>
                </td>
                <td class="px-4">
                  {% if data.city_read == None %}
                  <p class="text-xs font-weight-bold mb-0 text-start">-</p>
                  {% else %}
                  <p class="text-xs font-weight-bold mb-0 text-start">{{ data.city_read }}</p>
                  {% endif %}
                </td>
                <td class="px-4">
                  {% if data.province_read == None %}
                  <p class="text-xs font-weight-bold mb-0 text-start">-</p>
                  {% else %}
                  <p class="text-xs font-weight-bold mb-0 text-start">{{ data.province_read }}</p>
                  {% endif %}
                </td>
                <td class="align-middle text-center text-sm">
                  <a href="{% url 'clients:update_outlet' data.id %}" class="btn btn-sm bg-warning text-white text-xs">Edit</a>
                  <form class="d-inline" id="form-id" action="{% url 'clients:delete_outlet' data.id %}" method="post">
                    {% csrf_token %}
                    </a>
                    <button type="submit" class="btn btn-sm bg-danger btn-flat show_confirm text-white"
                        data-toggle="tooltip" title='Delete'>Delete</button>
                </form>
                </td>
              </tr>
              {% empty %}
              <tr class="text-center">
                <td colspan="7" class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">No Item in List</p>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer row">
        <hr>
        <span class="col-lg-6">{% bootstrap_paginate page_obj show_first_last="true" centered="true" range=1 %}</span>
        <span class="col-lg-6 text-end text-sm">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        <hr>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script type="text/javascript">
  $('.show_confirm').click(function (event) {
    var form = $(this).closest("form");
    var name = $(this).data("name");
    event.preventDefault();
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    })
      .then((willDelete) => {
        if (willDelete.isConfirmed) {
          form.submit();
        }
      });
  });
</script>
{% endblock inline_javascript %}