{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block menu-title %}Add Subscription Plan{% endblock %}
{% block listsubscriptionplan-active %}active{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 mb-lg-0 mb-4">
    <div class="card">
      <div class="card-body p-5">
        <div class="row">
          <div class="col-lg-10">
            <div class="d-flex flex-column h-100">
              <h5 class="font-weight-bolder">Form Subscription Plan</h5>
              <form method="post" novalidate>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button type="submit" class="btn bg-gradient-info col-md-2 mt-4 mb-0">SAVE</button>
              </form>
            </div>
          </div>
          <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
            <!-- <div class="bg-gradient-primary border-radius-lg h-100">
              <img src="../assets/img/shapes/waves-white.svg" class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
              <div class="position-relative d-flex align-items-center justify-content-center h-100">
                <img class="w-100 position-relative z-index-2 pt-4" src="../assets/img/illustrations/rocket-white.png" alt="rocket">
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}