{% extends "base.html" %}
{% load static %}
{% load bootstrap_pagination %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block menu-title %}List Subscriptions Plan{% endblock %}
{% block listsubscriptionplan-active %}active{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0 justify-content-lg-between">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show {{ message.tags }}" role="alert">
          <strong class="text-white">{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        {% endfor %}
        <div>
          <h5 class="font-weight-bolder">Susbcription Plans</h5>
          <a href="{% url 'subscriptions:add_subscription_plan' %}" class="btn bg-gradient-info mt-2">Add</a>
        </div>
        <div class="col-lg-12 mb-4 mt-2">
          <form method="get">
            <div class="row">
              <div class="col-md-2">
                {{ subscription_plan_filter.form.trial_unit|as_crispy_field }}
              </div>
              <div class="col-md-2">
                {{ subscription_plan_filter.form.recurrence_unit|as_crispy_field }}
              </div>
              <div class="col-md-2">
                {{ subscription_plan_filter.form.is_active|as_crispy_field }}
              </div>
              <div class="col-md-4 mt-4">
                <button class="btn bg-gradient-info mt-2 mb-0" type="submit">Filter</button>
                <button class="btn bg-gradient-info mt-2 mb-0">
                  <a href="{% url 'subscriptions:list_subscription_plan' %}" class="text-white">
                    Clear Filter
                  </a>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table sortable align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-xs text-dark font-weight-bolder">Name</th>
                <th class="text-uppercase text-xs text-dark font-weight-bolder">Trial Period</th>
                <th class="text-uppercase text-xs text-dark font-weight-bolder text-end">Price</th>
                <th class="text-uppercase text-xs text-dark font-weight-bolder">Trial Unit</th>
                <th class="text-uppercase text-xs text-dark font-weight-bolder text-end">Recurrence Period</th>
                <th class="text-uppercase text-xs text-dark font-weight-bolder">Recurrence Unit</th>
                <th class="text-uppercase text-xs text-dark font-weight-bolder">Status</th>
                <th class="text-uppercase text-xs text-dark font-weight-bolder">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in object_list %}
              <tr>
                <td class="text-start px-4">
                  <p class="text-xs font-weight-bold mb-0">{{ data.name }}</p>
                </td>
                <td class="px-4">
                  <p class="text-xs font-weight-bold mb-0 text-end">{{ data.trial_period|default_if_none:"-" }} Month</p>
                </td>
                <td class="px-4">
                  <p class="text-xs font-weight-bold mb-0 text-end">Rp {{ data.price|intcomma }}</p>
                </td>
                <td class="px-4">
                  <p class="text-xs font-weight-bold mb-0">{{ data.get_trial_unit_display|default_if_none:"-" }}</p>
                </td>
                <td class="px-4">
                  <p class="text-xs font-weight-bold mb-0 text-end">{{ data.recurrence_period|default_if_none:"-" }}</p>
                </td>
                <td class="px-4">
                  <p class="text-xs font-weight-bold mb-0">{{ data.get_recurrence_unit_display|default_if_none:"-" }}</p>
                </td>
                <td class="px-4">
                  {% if data.is_active %}
                  <p class="text-xs font-weight-bold mb-0">Active</p>
                  {% else %}
                  <p class="text-xs font-weight-bold mb-0">Not Active</p>
                  {% endif %}
                </td>
                <td class="align-middle">
                  <div class="d-inline">
                    <a href="{% url 'subscriptions:update_subscription_plan' data.id %}"
                      class="badge bg-warning">Edit</a>
                    {% if data.is_active %}
                    <a href="{% url 'subscriptions:deactivate_subscription_plan' data.id %}"
                      class="badge bg-gradient-danger">Deactivate</a>
                    {% else %}
                    <a href="{% url 'subscriptions:activate_subscription_plan' data.id %}"
                      class="badge bg-gradient-info">Activate</a>
                    {% endif %}
                  </div>
                  {% if data.is_active == False %}
                  <form class="d-inline" id="form-id"
                    action="{% url 'subscriptions:delete_subscription_plan' data.id %}" method="post">
                    {% csrf_token %}
                    </a>
                    <button type="submit" class="badge btn-danger btn-flat show_confirm" data-toggle="tooltip"
                      title='Delete'>Delete</button>
                  </form>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <hr>
          <div class="col-md-6">
            <span>{% bootstrap_paginate page_obj show_first_last="true" centered="true" range=1 %}</span>
          </div>
          <div class="col-md-6 text-end">
            <span class="text-sm">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script type="text/javascript">
  $('.show_confirm').click(function (event) {
    var form = $(this).closest("form");
    var name = $(this).data("name");
    event.preventDefault();
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    })
      .then((willDelete) => {
        if (willDelete.isConfirmed) {
          form.submit();
        }
      });
  });
</script>
{% endblock inline_javascript %}