{% extends "base.html" %}

{% block menu-title %}Customer Subscriptions{% endblock %}
{% block listusersubscriptions-active %}active{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h5 class="font-weight-bolder">Customer Subscriptions</h5>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr class="text-center">
                <th class="text-uppercase font-weight-bold text-xxs font-weight-bolder opacity-7">Customer Name</th>
                <th class="text-uppercase font-weight-bold text-xxs font-weight-bolder opacity-7 ps-2">Subscription Plan
                </th>
                <th class="text-center text-uppercase font-weight-bold text-xxs font-weight-bolder opacity-7">Start Date
                </th>
                <th class="text-center text-uppercase font-weight-bold text-xxs font-weight-bolder opacity-7">End Date
                </th>
                <th class="text-center text-uppercase font-weight-bold text-xxs font-weight-bolder opacity-7">Remaining
                  Date</th>
                <th class="text-center text-uppercase font-weight-bold text-xxs font-weight-bolder opacity-7">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for data in results %}
              <tr class="text-center">
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{ data.0 }}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{ data.1 }}</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-gradient-success">{{ data.2 }}</span>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-gradient-danger">{{ data.3 }}</span>
                </td>
                <td class="align-middle text-center text-sm">
                  <p class="text-xs font-weight-bold mb-0">{{ data.4|floatformat }} days</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <a href="" class="badge bg-gradient-info">Activate</a>
                  <!-- <a href="" class="badge bg-gradient-danger">Delete</a> -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}