{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block menu-title %}Add Client Subscription{% endblock %}
{% block dashboard-active %}active{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 mb-lg-0 mb-4">
    <div class="card">
      <div class="card-body p-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="d-flex flex-column h-100">
              <h5 class="font-weight-bolder">Form Subscription</h5>
              <form method="post" novalidate>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form|crispy }}
                <button type="submit" class="btn bg-info mt-4 mb-0 col-md-2 text-white">SAVE</button>
                <a href="{% url 'subscriptions:list_subscription'  %}" class="btn bg-danger col-md-2 mt-4 mb-0 text-white">CANCEL</a> 
              </form>
            </div>
          </div>
          <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<script>
  $(function(){
      var dtToday = new Date();

      var month = dtToday.getMonth() + 1;
      var day = dtToday.getDate();
      var year = dtToday.getFullYear();
      if(month < 10)
          month = '0' + month.toString();
      if(day < 10)
          day = '0' + day.toString();

      var minDate= year + '-' + month + '-' + day;

      $('#txtDate').attr('min', minDate);
  });
</script>

{% block inline_javascript %}
<script type="text/javascript">
  let data = JSON.parse("{{subscriptionplan|escapejs}}");

  if(document.getElementById("id_subscription_form-subscriptionplan")){
    document.getElementById("id_subscription_form-subscriptionplan").onchange = (e) => {
        let subscriptionplan = data.find(dataSubplan => dataSubplan.id == e.target.value);
        $('#id_billing_form-price').val(subscriptionplan.price)
    };
  } else {
    document.getElementById("id_activate_subscription_form-subscriptionplan").onchange = (e) => {
        let subscriptionplan = data.find(dataSubplan => dataSubplan.id == e.target.value);
        $('#id_billing_form-price').val(subscriptionplan.price)
    };
  }

</script>
{% endblock inline_javascript %}