{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Set Password" %}{% endblock %}

{% block inner %}
    <h1>{% translate "Set Password" %}</h1>
    
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show {{ message.tags }}" role="alert">
        <strong class="text-white">{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-info bg-gradient-info" type="submit" name="action" value="{% translate 'Set Password' %}"/>
    </form>
{% endblock %}