{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
<div class="row">
    <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-body"></div>
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show {{ message.tags }}" role="alert">
                <strong class="text-white">{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <h2 class="text-center">{% translate "Change Password" %}</h2>
            <form method="POST" action="{% url 'account_change_password' %}" class="card card-body">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn bg-gradient-info w-100 mt-2 mb-0" type="submit" name="action">{% translate "Change Password"%}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block inline_javascript %}
<script></script>
{% endblock inline_javascript %}