{% extends "base.html" %}

{% load django_tables2 %}
{% load bootstrap_pagination %}
{% load static %}
{% load static i18n compress%}

{% block menu-title %}Users List{% endblock %}
{% block listsubscriptionplan-active %}active{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0 col-md-12">
                <div class="row">
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show {{ message.tags }}" role="alert">
                        <strong class="text-white">{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    {% endfor %}
                    <h5 class="font-weight-bolder">Users</h5>
                    <div class="row">
                        <div class="col-md-2 align-middle">
                        <a href="{% url 'users:add_users' %}" class="btn bg-gradient-info mt-2">Add User</a>
                        </div>
                        {% comment %} <div class="col-md-10 align-middle mt-2">
                        {% if view.export_formats %}
                            {% for format in view.export_formats %}
                            <a href="{% export_url format %}" class="btn bg-gradient-faded-light btn-xs text-dark">
                            download <code>.{{ format }}</code>
                            </a>
                            {% endfor %}
                        {% endif %}
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table sortable align-items-center mb-0">
                        <thead>
                            <tr class="text-center">
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Access
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in object_list %}
                            <tr class="text-center text-black">
                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs mb-0">{{ user.name }}</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs mb-0">{{ user.username }}</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs mb-0">{{ user.email }}</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    {% if user.verified %}
                                    <p class="text-xs mb-0">Verified</p>
                                    {% else %}
                                    <p class="text-xs mb-0">Unverified</p>
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <p class="text-xs mb-0">{{ user.type }}</p>
                                </td>
                                <td class="align-middle text-sm">
                                    <a href="{% url 'users:edit_users' user.id %}" class="badge bg-warning">Edit</a>
                                    <form class="d-inline" id="form-id" action="{% url 'users:delete_users' user.id %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input name="_method" type="hidden" value="Delete">
                                        <button type="submit" class="badge btn-danger btn-flat show_confirm"
                                            data-toggle="tooltip" title='Delete'>Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer row">
                        <hr>
                        <span class="col-lg-6">{% bootstrap_paginate page_obj show_first_last="true" centered="true" range=1 %}</span>
                        <span class="col-lg-6 text-end text-sm">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script type="text/javascript">
    $('.show_confirm').click(function (event) {
        var form = $(this).closest("form");
        var name = $(this).data("name");
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        })
            .then((willDelete) => {
                if (willDelete.isConfirmed) {
                    form.submit();
                }
            });
    });
</script>
{% endblock inline_javascript %}