{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block menu-title %}List User Subscriptions{% endblock %}
{% block listclientsubscriptions-active %}active{% endblock %}


{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a role="link" aria-disabled="true">Subscription</a></li>
    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0 col-md-12">
        <div class="row">
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show {{ message.tags }}" role="alert">
            <strong class="text-white">{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          {% endfor %}

          <div class="align-middle">
            <h5 class="font-weight-bolder">Susbcriptions</h5>
          </div>

          <div class="col-lg-12 mb-4 mt-2">
            <div class="align-middle">  
              <a href="{% url 'subscriptions:add_subscription' %}" class="btn bg-gradient-info col-md-2 mt-2">
                Add Subscription
              </a>
              <button type="button" class="btn bg-gradient-dark align-middle col-md-2 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Advanced Search
              </button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Advanced Search</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="col-lg-12">
                        <form method="get">
                          <div class="row">
                            <div>
                              {{ subscription_filter.form.subscriptionplan|as_crispy_field }}
                            </div>
                            <div>
                              {{ subscription_filter.form.expires|as_crispy_field }}
                            </div>
                            <div>
                              {{ subscription_filter.form.active|as_crispy_field }}
                            </div>
                            <div class="modal-footer">
                              <button class="btn bg-secondary">
                                <a href="{% url 'subscriptions:list_subscription' %}" class="text-white">
                                  Clear Filter
                                </a>
                              </button>
                              <button class="btn bg-gradient-info" type="submit">Filter</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="section">
        <div class="card">
          <div class="card-body">
            <table class="table" id="table1">
              <thead>
                <tr>
                  <th>Outlet Name</th>
                  <th>Subscription Plan</th>
                  <th>Billing Date</th>
                  <th>Expired Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for data in object_list %}
                <tr>
                  <td>{{ data.outlet.name }}</td>
                  <td>{{ data.subscriptionplan.name }}</td>
                  <td>{{ data.billing_date|date:'D, d M Y' }}</td>
                  <td>{{ data.expires|date:'D, d M Y' }}</td>
                  <td>
                    {% if data.active == True %}
                    <p class="text-xs font-weight-bold mb-0 text-start">Active</p>
                    {% else %}
                    <p class="text-xs font-weight-bold mb-0 text-start">Not Active</p>
                    {% endif%}
                  </td>
                  <td>
                    {% if data.active == True %}
                    <a href="{% url 'subscriptions:deactivate_subscription' data.id %}"
                      class="btn btn-sm bg-danger text-white text-xs">Deactivate</a>
                    {% else %}
                    <a href="{% url 'subscriptions:activate_subscription' data.id %}" class="btn btn-sm bg-info text-white text-xs">Activate</a>
                    {% endif %}
                  </td>
                </tr>
                {% empty %}
                <tr class="text-center">
                  <td colspan="8" class="align-middle text-center text-sm">
                    <p class="text-xs font-weight-bold mb-0">No Item in List</p>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock content %}

{% block inline_javascript %}
<script></script>
{% endblock inline_javascript %}